@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/* styles/globals.css */
body {
  background-color: rgb(33, 33, 34);
  color: rgb(4, 255, 12);
  margin: 0;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Orbitron', sans-serif;
}

h1 {
    padding: 20px;
}

/* Color de enlaces normales */
a {
  color: rgb(247, 255, 6);
  text-decoration: none;
}

/* Color de enlaces visitados */
a:visited {
  color: rgb(247, 169, 2); /* Cambia a tu color deseado */
}

hr {
  width: 100%;
  color: rgb(3, 255, 3);
}